header {
    font-size: 75px;
    text-align: center;
    font-family: 'Henny Penny', cursive;
    text-shadow: 2px 3px;
}
body {
    background-image: linear-gradient(to right, #DACA66, #000689);
}
body a{
    color: black;
}
li {
    float: left;
    background-color: lime;
}
li a {
    padding:10px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color:lime;
    font-family: 'Henny Penny', cursive;
}
li a:hover {
    background-color:cyan;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: lime;
}
body h1{
    font-size:30px;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}
.active{
    background-color: #00b300;
}
