header {
    background-color: lime;
    font-size: 40px;
    text-align: center;
}
body {
    background-color:limegreen;
}
li {
    float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px; 
  text-decoration: none;
  font-size: 20px;
}

li:hover {
    background-color:cyan;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: green;
}
