header {
    background-color: lime;
    font-size: 40px;
    text-align: center;
}
body {
    background-color:limegreen;
}
links {
    background-color: green;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
links a{
    text-decoration: none;
    color: black;
}
links:hover {
    background-color:cyan;
}
links ul{i
list-style-type: none;
overflow: hidden;
background-color: green;
text-align: center;
font-size: 20px;
padding: 20px;
text-color:blue;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: green;
}
